@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Serif+JP:wght@200..900&family=Nova+Round&family=Onest:wght@100..900&family=Poiret+One&display=swap');
*,::before,::after{box-sizing:border-box;border-style:solid;border-width:0;min-width:0}html{line-height:1.15;-webkit-text-size-adjust:100%;-webkit-tap-highlight-color:transparent}body{margin:0}main{display:block}p,table,blockquote,address,pre,iframe,form,figure,dl{margin:0}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;margin:0}ul,ol{margin:0;padding:0;list-style:none}dt{font-weight:700}dd{margin-left:0}hr{box-sizing:content-box;height:0;overflow:visible;border-top-width:1px;margin:0;clear:both;color:inherit}pre{font-family:monospace,monospace;font-size:inherit}address{font-style:inherit}a{background-color:transparent;text-decoration:none;color:inherit}abbr[title]{text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:inherit}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}svg,img,embed,object,iframe{vertical-align:bottom}button,input,optgroup,select,textarea{-webkit-appearance:none;appearance:none;vertical-align:middle;color:inherit;font:inherit;background:transparent;padding:0;margin:0;border-radius:0;text-align:inherit;text-transform:inherit}button,[type="button"],[type="reset"],[type="submit"]{cursor:pointer}button:disabled,[type="button"]:disabled,[type="reset"]:disabled,[type="submit"]:disabled{cursor:default}:-moz-focusring{outline:auto}select:disabled{opacity:inherit}option{padding:0}fieldset{margin:0;padding:0;min-width:0}legend{padding:0}progress{vertical-align:baseline}textarea{overflow:auto}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{outline-offset:-2px}[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}[type="number"]{-moz-appearance:textfield}label[for]{cursor:pointer}details{display:block}summary{display:list-item}[contenteditable]:focus{outline:auto}table{border-color:inherit;border-collapse:collapse}caption{text-align:left}td,th{vertical-align:top;padding:0}th{text-align:left;font-weight:700}


a{
    text-decoration: none;
    color: #121212;
}
body{
    background: #757f9a;
    background: linear-gradient(90deg,#757f9a 0%, #d7dde8 80%);
}


.logo{
    position: absolute;
    right: 25px;
    top: 20px;

}
.nav{
    display: flex;
    justify-content: start;
    margin-left: 45px;
    padding-top: 30px;
}

.nav ul{
    display: flex;
}
.nav ul li{
    list-style-type: none;
    margin-left: 25px;
    margin-right: 25px;
    transition: all 0.5s ;
}
.nav ul li:hover{
    transform: scale(1.1);
}
.nav ul li a{
    font-family: "Jura", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
    transition: all 0.5s ;
}
.nav ul li a:hover{
    color: #007ac1;
}

.hamburger, .phone-menu{
    display: none;
}

  
.overlay{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
    z-index: 100;
}

.popup{
    position: fixed;
    width: 40%;
    height: 45%;
    background: #757f9a;
    background: linear-gradient(90deg,#757f9a 0%, #d7dde8 80%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 101;
}
.closeBtn{
    position: absolute;
    top: 1px;
    right: 10px;
    border: none;
    background: transparent;
    font-size: 25px;
    cursor: pointer;
}
.popup h1{
    margin: 15px 20px 20px 20px;
    font-family: "Jura", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: bold;
}

.popup .mail a,
.phnum a, .instagram a,
.youtube a, .address a{
    display: flex;
}
.popup .mail p,
.phnum p, .instagram p,
.youtube p, .address p{
   margin: 10px;
   padding-left: 20px;
}

.popup p{
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-size: 15px;
}
.popup a .link:hover{
    color: #084163;
}
h1{
    color: black;
    text-align: center;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-container{
    width: 450px;
    height: 600px;
    margin-left: 30px;
    font-style: normal;
  animation: fadein 5s ease-in forwards;
  margin-left: 60px;
}

.info-container h2{
    margin-top: 120px;
    margin-bottom: 20px;
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    font-size: 50px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 1.5;
    transition: all 1s;
}
.info-container h2:hover{
    letter-spacing: 4px;
}
.info-container h3{
    font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  letter-spacing: -3px;
  margin-bottom: 50px;

}
.info-container p{
    border-bottom: dotted 1px #121212;
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  padding-top: 10px;
 
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto;
    gap:20px;
    max-width: 600px;
    margin: 30px auto;
    flex-shrink: 0; 
    flex-grow: 1;
}
.box {
    background-color: #233a5a;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 15px;
    box-shadow: 10px 10px 14px 2px rgba(15,15,15,0.69);
-webkit-box-shadow: 10px 10px 14px 2px rgba(15,15,15,0.69);
-moz-box-shadow: 10px 10px 14px 2px rgba(15,15,15,0.69);
transition: all 1s ease-in-out;
overflow: hidden;
}
.box img{
    width: 100%;
    height: 100%;
}

.box:hover{
    transform: scale(1.1);
}
.info{
    text-align: center;
}
.text{
    text-align: center;
    margin-top: 20px;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    font-weight: bold;
}

.text a {
    position: relative;
    display: inline-block;
    text-decoration: none;
}

.text a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px; /* Adjust distance from text */
    width: 0%;
    height: 1.5px; /* Thickness of underline */
    background-color: black;
    transition: width 0.4s ease-out, left 0.4s ease-out;
}

.text a:hover::after {
    width: 100%;
    left: 0;
}

.item {
    display:flex;
    flex-direction: column;
    align-items: center;
}
.big{
    grid-row: span 2;
    padding-top: 50px;
    padding-left: 30px;
}

.item3{
    animation: slidein-left 1s ease-in forwards;
}
.item1{
    animation: slidein-down 2s ease-in forwards;
}
.item2{
    animation: slidein-up 2s ease-in forwards;
}

.overlay1{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
    z-index: 1;
}
.popup1{
    position: fixed;
    width: 80vw;
    height: 70vh;
    background: #757f9a;
    background: linear-gradient(90deg,#757f9a 0%, #d7dde8 80%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    z-index: 2;
}
.closeBtn1 {
    position: absolute;
    top: 3px;
    right: 15px;
    border: none;
    background: transparent;
    font-size: 35px;
    cursor: pointer;
}

.footer-container{
    background-color: #121212;
    width: 100%;
    height: 100px;
}
.footer-container p{
    text-align: center;
    color: aliceblue;
    padding-top: 65px;
}

.grid-container1 {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(7, 1fr);
width: 100%;
}




.design-pic, .design-title{
    width: 100%;
    height: 500px;
    transition: all 0.5s;
}
.design-pic{
    position: relative;
    background: #757f9a;
    background: linear-gradient(90deg,#757f9a 0%, #d7dde8 80%);
}
.design-pic img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.design-title h1{
    font-family: "Nova Round", system-ui;
  font-weight: 600;
  font-style: normal;
  font-size: 35px;
  letter-spacing: 1px;
  margin-top: 50px;
}
.design-title p{
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-size: 17px;
  margin-left: 50px;
  margin-top: 50px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #333231;
}


.design-title {
  background-color: #ffffff00;
  padding: 20px 40px;
  text-decoration: none;
  color: black;
  position: relative;
  overflow: hidden;
}

.design-title span {
  position: relative;
  z-index: 1;
}

.design-title::before {
  content: "";
  position: absolute;
  background-color: aliceblue;
  width: 0;
  height: 0;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width 0.5s, height 0.5s;
}

.design-title:hover::before {
  width: 1700px;
  height: 1500px;
}

.details-btn {
    align-self: center;
    background-color: #ffffff00;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #333231;
    cursor: pointer;
    display: inline-block;
    font-family: "Noto Serif JP", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    margin: 50px 0 0 350px;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: absolute;
    z-index: 2;
  }
  
  .details-btn:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .details-btn:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
  }

  .fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.fade-in.show {
    opacity: 1;
    transform: translateY(0);
}
.fade-in.hide {
    opacity: 0;
    transform: translateY(10px); 
}

/*website page start*/
.site1{
    width: 70%;
    overflow: hidden;
    border-radius: 30px;
}
.site1 video{
    width: 100%;
}



@keyframes slidein-left{
    from{
        transform: translateX(700px);
    }
    to{
        transform: translateX(0);
    }
}
@keyframes slidein-down{
    from{
        transform: translateY(-500px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes slidein-up{
    from{
        transform: translateY(500px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes fadein{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes menu-bar{
    from{
        transform: translateY(-800px);
    }
    to{
        transform: translateY(0);
    }
}

@keyframes menu-bar-slideup{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-800px);
    }
}



/*Responsive desgin for phone*/
@media (max-width: 768px) { 
  
    .nav-wrapped{
        display: none;
    }

    .phone-menu{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 800px;
         background: #757f9a;
    background: linear-gradient(90deg,#abb4ce 0%, #d7dde8 80%);
        display: none;
        z-index: 99;
        animation: menu-bar 0.5s ease-out;
        overflow-y: auto;
    }

    .phone-menu .hidden-contact{
        display: none;
        margin-top: 40px;
        margin-bottom: 10px;
        width: 80%;
        margin-left: 10%;
        
    }
    .hidden-contact li{
        padding: 3px;
        border: solid 1px #046196;
        border-radius: 30px;
        background-color: #d7dde85b;
    }
    .hidden-contact li a{  
        display: flex;
        font-size: 13px;
    }
    .hidden-contact li p{
        margin-left: 20px;
        text-align: center;
    }

    
    .phone-menu ul{
        text-align: center;
        margin-top: 200px;
    }
    
    .phone-menu ul li{
        margin-top: 30px;
        font-family: "Jura", sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: bold;
    }

    .phone-menu ul li a:focus,.phone-menu ul li a:hover {
        color: #007ac1;
    }

    .phone-menu-slideup{
        animation: menu-bar-slideup 0.5s ease-out;
    }

.fixed{
    position: fixed;
    z-index: 9999;
}

 .hamburger {
    margin-top: 10px;
    margin-left: 10px;
    width: 25px;
    height: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.hamburger span {
    display: block;
    width: 25px;
    height: 3px;
    background: black;
    transition: transform 0.3s, opacity 0.3s;
    z-index: 100;
}

/* When active, transform into a cross */
.hamburger.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
    transform: rotate(-45deg) translate(5px, -5px);
}

 
    .container{
        width: 100%;
        display: block;
        margin: 0;
        padding: 0;
    }
    .logo{
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 100;
    }
    .logo img{
        width: 20px;
        height: auto;
    }
    .info-container{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
    height: auto;
    font-style: normal;
  animation: fadein 5s ease-in forwards;
}

.info-container h2{
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 1.5;
    transition: all 1s;
    text-align: center;
}
.info-container h2:hover{
    letter-spacing: 4px;
}
.info-container h3{
    font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  letter-spacing: -3px;
  margin-bottom: 30px;
  text-align: center;

}
.info-container p{
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  padding-top: 10px;
  font-size: 13px;
  width: fit-content;
  margin: 0 auto;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap:8px;
    max-width: 500px;
    margin: 30px auto;
    flex-shrink: 0; 
    flex-grow: 1;
}
.item3 {
    grid-column: span 2 / span 2;
    grid-column-start: 1;
    grid-row-start: 2;
    padding-left: 0;
    padding-top: 40px;
     animation: fadein 5s ease-in forwards;
}

.item2 {
    grid-column-start: 2;
    grid-row-start: 1;
}



.box {
    width: 80%;
}


.text{
    margin-top: 18px;
    font-size: 13px;
}
.text a::after{
    display: none;
}
.text a:focus, .text a:hover{
    color: #046196;
}
.grid-container1 {
display: grid;
grid-template-columns: repeat(1, 1fr);
grid-template-rows: repeat(14, 1fr);
width: 100%;
}

.no1{
    grid-row: 1;
}
.no2{
    grid-row: 2;
}
.no3{
    grid-row: 3;
}
.no4{
    grid-row: 4;
}
.no5{
    grid-row: 5;
}
.no6{
    grid-row: 6;
}
.no7{
    grid-row: 7;
}
.no8{
    grid-row: 8;
}
.no9{
    grid-row: 9;
}
.no10{
    grid-row: 10;
}
.no11{
    grid-row: 11;
}
.no12{
    grid-row: 12;
}
.no13{
    grid-row: 13;
}
.no14{
    grid-row: 14;
}


.design-pic{
    width: 100%;
    height: 400px;
    transition: all 0.5s;
}
.design-title{
    width: 100%;
    height: 300px;
    box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.65);
-webkit-box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.65);
-moz-box-shadow: 0px 10px 14px 0px rgba(0,0,0,0.65);
    transition: all 0.5s;
}

.no1 img{
    width: 75%;
}
.no3 img{
    width: 55%;
}
.no5 img{
    width: 50%;
}
.no7 img{
    width: 55%;
}
.no9 img{
    width: 58%;
}
.no11 img{
    width: 60% ;
}
.no13 img{
    width: 65%;
 
}

.design-title h1{
  font-size: 25px;
  margin-top: 40px;
  text-align: center;
}
.design-title p{
    font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-size: 15px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 15px;
  letter-spacing: 1px;
  line-height: 25px;
  color: #333231;
}

.no12 p{
    margin-top: 30px;
}

.jpn-text{
    font-size: 13px;
}

    .details-btn {
        margin: 0 10px 50px 230px;
        font-size: 10px;
         display: inline-block
    }
.fade-in {
        transform: translateY(20px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }

  
}
